.side_navbar-container{
    background-color: #a7bfcb;
    min-width: 230px;
    min-height: 100vh;
    opacity: 0.7;
    box-shadow: 3px 0px 5px rgba(0, 0, 0, 0.16);
    
}
.logo_container{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
}
.logo{
    height: 120px;
}

.nav-tag-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 400px;

}

.nav-tag{
    padding-left: 10px;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    /* margin: 2px;    */
}
/* .nav-tag :hover {
    background-color: antiquewhite;
    border-radius: 10px ;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.158);
} */

.nav-tag-title{
    color: black;
    padding-left: 15px;
    font-size: 1.2em;
}
.active-tab{
    background-color: bisque;
    border-radius: 8px;
    /* color: white; */
}
.active-tab .nav-tag-title{
    font-weight: bold;
    /* color: white; */
}