.section::after {
    content: "";
    display: table;
    clear: both;
}
.leftcol{
    float: left;
    width: 50%;
    padding: 20px;
}
.rightcol{
    float: left;
    padding: 20px;
    width: 50%;
}
.piecol{
    float: left;
    padding: 20px;
    width: 50%;
}
.donghutcol{
    float: left;
    padding: 20px;
    width: 50%;
}
.topcol{
    float: left;
    padding: 10px;
    width: 75%; 
}
.top2col{
    float: left;
    padding: 20px;
    width: 25%; 
}
  