
.leftcontainer {
  background: rgba(128, 128, 128, 0.7);
  height: 100%;
  width: 50%;
  border: solid gray;
}

.atc_btn {
  font-size: 10px;
  background-color: #4483ad;
  color: white;
  border: none;
  box-shadow: 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  width: 35px;
  height: 15px;
  margin: -10px 1px;
}
.select_btn{
  border: none;
  background-color: #4483ad;
  color: white;
  box-shadow: 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  width:100px;
  height:35px;
  margin:25px -15px 20px 15px;
}
.select_btn:active {
  font-size: 14px;
  padding: 8px 18px;
}
.search {
  height: 100%;
  width: 100%;
  display: flex;
  color: rgb(12, 11, 11);
}
thead,
tr {
  line-height: 0.1;
}

.rightside {
  width: 50%;
  display: flex;

}
.rightcontainer {
  background: rgba(128, 128, 128, 0.7);
  height: 100%;
  width: 100%;
  border: solid gray;
  padding: 20px;
}
.lc{
 display:flex;
 margin: 10px;
 padding: 10px;
}
.addtocart{
  margin-top:-10px;
}

.end_btn{
  border: none;
  background-color: #4dafe7;
  color: white;
  box-shadow: 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  width:80px;
  height:35px;
  margin:20px 0px 10px 30px;
  transition: all 0.2s ease-in-out;
  font-size: 18px;
  font-weight: bold;
}
.stripe_btn{
  margin:20px 0px 10px 30px;
  transition: all 0.2s ease-in-out;
}
.dlt_btn{
  font-size: 14px;
  color:white;
  background-color: #4483ad;
  width:20px;
  height:20px;
  margin:-20px;
  font-weight: bold;
}

.end_btn:active {
  font-size: 14px;
  padding: 8px 18px;
}
.net_amount{
  font-weight: bold;
  
}
.net_amount span{
  font-weight:lighter ;
  margin-left:8px ;
  float: right;
  text-align: right;
}
.modalbtn{
  background-color: white;
  color:#4483ad;
  width:90px;
  border-radius: 0.4rem;
  padding:0.5rem;
  font-weight: bold;
  box-shadow:2px 3px rgba(82, 78, 78, 0.486);
}

/* adjust width on smaller screens */
@media screen and (max-width: 1100px) {
  .end_btn {
    width: 95%;
    margin-left:0px;
  }

} 
