.input-group.md-form.form-sm.form-1 input {
    border: 1px solid #bdbdbd;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }

.checkout{
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #cccccc;
}

.mainGlass{
    display: grid;
    gap: 5px;
    grid-template-columns: 1rem auto 1rem;

}

.section {
    padding: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
   }

.addContainer{
  background-color: blue;
  width: 90px;
}

.navigate_left{
    background-color: rgb(0, 174, 255);
    left: 0;
    display: flex;
    width: 15px;
    margin-top: auto;
    margin-bottom: auto;
    height: 20%;
    border-radius: 2px;
    align-items: center;
    align-items: center;
    padding-left: 3px;
    box-shadow: 3px rgb(14, 14, 14);
}

.navigate_right{
  background-color:  rgb(0, 174, 255);
  right: 0;
  display: flex;
  width: 15px;
  margin-top: auto;
  margin-bottom: auto;
  height: 20%;
  border-radius: 2px;
  align-items: center;
  padding-left: 4px;
  box-shadow: 3px rgb(14, 14, 14);
}

.card-body .table{
  overflow-y: scroll; 
}

.button{
  padding: 7px;
  margin:  3px;
  font-size: small;
  font-weight: 400;
  color: #ffffff;
  box-shadow:  1px 2px 2px #00000062;
  border-radius: 5px;
  background-color: rgb(7, 131, 202);
}