*{
    padding: 0;
    margin: 0;
}
/* .main-app-layout{
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    background-image: url("./components/images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #cccccc;
} */
/* .main-context-container{ */
   /* background: #000; */
   /* width: 100%;
} */

.App {
    width: 100vw;
    height: 100vh;
    background-image:url('./components/images/bg.jpg');
    background-size:cover;
    display: flex;
    font-size: medium;
    /*font-size: calc(10px + 2vmin);*/
    color: rgb(0, 0, 0);
  }
  