.ModalBack{
  background-color: rgb(96, 150, 235);
  width: 500px;
    height: 500px;
    float: left;
    padding-left: 40px;
    padding-right: 20px;
    padding-top: 40px;
    color: rgb(0, 0, 0);
    position: fixed;
  
}
.modalContain{
  background-color: rgb(170, 199, 238);
  
}


/* .formContainer{
    background-color: rgb(140, 185, 225);
    width: 65%;
    height: 200px;
    float: left;
    padding-left: 40px;
    padding-right: 20px;
    padding-top: 40px;
    color: rgb(0, 0, 0);

}
tr > * + * {
    padding-left: 4em;
  
  
  }

  .button2:hover {
    background-color: #0d617d;
    color: rgb(2, 7, 15);
    
    
  }
  .button2{
    background-color: #2d83a0;
    border: none;
    color: rgb(16, 14, 22);
    padding: 5px 22px;
    border-radius: 6px;
    cursor: pointer;
    margin-left: 50px;
    
    
    
    

}
h5{
    color: rgb(3, 54, 88);   
}

span{
    color: rgb(216, 37, 37);   
}

.drop{
    border-radius: 12px;
    border: none;
    padding: 4px;
    background-color: #2772cf;
  
  }

  .inputshort{
  
    border-radius: 15px;
    background-color: #115cb7;
    border: none;
    padding: 3px;
   
    
  }

  .table{
   
    padding-top: 80px;
  }

  .view {
    padding-left: 4em;
  } */