.addform{
    background-color: rgba(255, 255, 255, 0.818);
    opacity: 75%; 
    width: 82.3vw;
    padding: 1vw 1vw 1vw 1vw;
    background-size: auto;
    display:flex;    
    display: grid;
    grid-template-columns: 2.5fr 1fr;
}

.Purchers{
  margin-left: 2vw;
}


.b1{
  width: 9vw;
  background-color:rgba(88, 154, 192, 1);
  border-radius: 10px;
  border-style: none;
  box-shadow:#000205; 
  color: #fff;
  cursor: pointer;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 15px;
  font-weight: 500;
  height: 5vh; 
  align-content: center;
  transform: translate3d(0, 0, 0);
  transition: all .4s;
  margin-left: 8vw;
  margin-top: 12vh;
  box-sizing: border-box;
}


.b2{
  width: 9vw;
  background-color: rgba(88, 154, 192, 1);
  border-radius: 10px;
  border-style: none;
  box-shadow:#000205; 
  color: #fff;
  cursor: pointer;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 15px;
  font-weight: 500;
  height: 5vh; 
  text-align: center;
  transform: translate3d(0, 0, 0);
  transition: all .4s;
  margin-left: 8vw;
  margin-top: 2vh;
  box-sizing: border-box;

}


.input {
    width: 44vw;
    height: 10px;
    padding: 10px;
    border-radius: 12px;
    border: 1.5px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
    margin: 1.5vh 2vw 0 1vw;
    
  
  }
  
  .input:hover {
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 20px -17px;
  }
  
  .input:active {
    transform: scale(0.95);
  }
  
  .input:focus {
    border: 2px solid grey;
  }

  .inputshort {
    width: 16vw;
    margin: 1.5vh 2vw 0 1vw;
    height: 10px;
    padding: 10px;
    border-radius: 12px;
    border: 1.5px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
  }
  
  .inputshort:hover {
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 20px -17px;
  }
  
  .inputshort:active {
    transform: scale(0.95);
  }
  
  .inputshort:focus {
    border: 2px solid grey;
  }
.title{
    color: rgb(2, 2, 59);
    padding: 0.2vw 1vw 0vw 0vw;
}