body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 100%;
}

.UserForm {
  float: left;
  color: brown;
}
