.container02 {
  align-items: center;
  width: 320px;
  padding: 10px;
}

.formTopic {
  color: #05486a;
  font-family: Arial;
  font-size: 14px;
}

.lable {
  font-family: Arial;
  font-size: 14px;
}
.input01 {
  width: 65vw;
  font-size: 12px;
  padding: 6px;
  height: 28px;
  border-radius: 12px;
  border: none;
  background-color: #f8f9f9;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
  margin: 1.5vh 2vw 0 1vw;
}

.input02 {
  width: 26vw;
  margin: 1.5vh 2vw 0 1vw;
  font-size: 12px;
  padding: 6px;
  height: 28px;
  border-radius: 12px;
  border: none;
  background-color: #f8f9f9;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
}

.dropDown01 {
  width: 26vw;
  margin: 1.5vh 2vw 0 1vw;
  font-size: 12px;
  padding: 6px;
  height: 28px;
  border-radius: 12px;
  background-color: #f8f9f9;
  border: none;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
}

.Addbutton {
  background-color: #5dade2;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  top: 39vh;
  left: 30vw;
}

.Clearbutton {
  background-color: #5dade2;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}
