.container01 {
  background-color: rgba(255, 255, 255, 0.818);
  align-items: left;
  opacity: 75%;
  width: 75vw;
  height: 30vw;
  padding: 1vw;
  background-size: auto;
  display: flex;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  position: relative;
  left: 40vh;
  bottom: 145vh;
  margin-right: 4vw;
}

.form {
  margin-left: 2vw;
}

.formTopic {
  color: #05486a;
  font-family: Arial;
  font-size: 14px;
}

label {
  font-family: Arial;
  font-size: 14px;
}

.input01 {
  width: 44vw;
  height: 10px;
  padding: 10px;
  border-radius: 12px;
  border: 1.5px solid lightgrey;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
  margin: 1.5vh 2vw 0 1vw;
}

.input02 {
  width: 16vw;
  margin: 1.5vh 2vw 0 1vw;
  height: 10px;
  padding: 10px;
  border-radius: 12px;
  border: 1.5px solid lightgrey;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
}

.dropDown01 {
  width: 16vw;
  margin: 1.5vh 2vw 0 1vw;
  height: 10px;
  padding: 10px;
  border-radius: 12px;
  border: 1.5px solid lightgrey;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
}

.Addbutton {
  width: 9vw;
  background-color: rgba(88, 154, 192, 1);
  border-radius: 10px;
  border-style: none;
  box-shadow: #000205;
  color: #fff;
  cursor: pointer;
  font-family: Inter, -apple-system, system-ui, sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin: 2vh 2vw 0 1vw;
}

.Clearbutton {
  width: 9vw;
  background-color: rgba(88, 154, 192, 1);
  border-radius: 10px;
  border-style: none;
  box-shadow: #000205;
  color: #fff;
  cursor: pointer;
  font-family: Inter, -apple-system, system-ui, sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin: 2vh 2vw 0 1vw;
}
