
.Hedsec{
    opacity: 75%;
    display: flex;
    flex-direction: column;
    margin: 5vh 0vw 0vh 0vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.interfacename{
    margin-left: 1vw;
    color: aliceblue;
    margin-top: 4vh;
    margin-bottom: 1vh;
    
}
.syname{
    font-family: 'IBM Plex Sans', sans-serif;
    margin-left: 1vw;
    color: aliceblue;
    
}
.notification{
    display: flex;
    margin-left: 70vh;
}